New_Lazarus_Version/lib/i386-win32/puffinit.o
*.o
New_Lazarus_Version/lib/i386-win32/PUFF.or
*.o
*.bak
*.ppu
New_Lazarus_Version/PUFF.exe
*.bak
New_Lazarus_Version/backup/PUFF.lpi.bak
*.or
*.or
DOC/MountCmdForDOSBOx.txt
*.bak
New_Lazarus_Version/backup/PUFF.lpi.bak